# This set of variables are used to create and configure the workspace we are creating.  

token                       = ""  <-- TFC API token  
organization                = ""  <-- TFC organization 
workspace_name              = ""  <-- Name of the workspace you want to create
vcs_repo                    = ""  <-- Format follows <organization>/<repository>
oauth_token_id              = ""  <-- Oauth token id from TFC organization VCS integration 

# The following variables will be created in the workspace we are creating.

tfe_vars_sensitive = {
    GOOGLE_APPLICATION_CREDENTIALS = ""
    foo = "bar"
}

env_vars_sensitive  = {
    Bob = "Alice"
}

tfe_vars_nonsensitive = {
    foo = "bar"
}

env_vars_nonsensitive  = {
    Bob = "Alice"
}
